<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

    <div th:fragment="purchaseConfirmFragment">

        <div class="container">

            <div class="row">

                <div class="col-md-12">

                    <ol class="breadcrumb">
                        <li>
                            <a th:href="@{/user/home}"><i class="fa fa-home"></i>Home</a>
                        </li>
                        <li>
                            <a th:href="@{/user/purchase}">Purchase</a>
                        </li>
                        <li class="active">Purchase Confirm</li>
                    </ol>

                </div>

            </div>

            <div class="row">

                <div class="col-md-offset-1 col-md-10">

                    <div class="panel panel-default">

                        <div class="panel-heading">
                            Purchase Confirmation
                        </div>

                        <div class="panel-body">
                            <div class="print-wrapper">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-4">
                                            <p>Supplier Name :</p>
                                            <p>Invoice No    :</p>
                                        </div>
                                        <div class="col-md-3">
                                            <p th:text="${purchase.supplier.name}"></p>
                                            <p th:text="${purchase.invoiceNo}"> </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 float-right">
                                        <button type="button" onclick="printJS({printable:'print-wrapper', type:'html'})" class="btn btn-primary btn-xs">
                                            Print
                                        </button>
                                    </div>
                                </div>
                                &#160;
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered">

                                        <thead>
                                            <tr>
                                                <th>Product Model</th>
                                                <th>Quantity</th>
                                                <th>Rate</th>
                                                <th>Total Price</th>
                                                <th>Net Payment</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td th:text="${purchase.model.productItem.productItemName+' - '+purchase.model.modelCode}"></td>
                                                <td th:text="${purchase.quantity}"></td>
                                                <td th:text="${purchase.rate}"></td>
                                                <td th:text="${purchase.total}"></td>
                                                <td th:text="${purchase.netPayment}"></td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>

                            <div class="col-md-offset-4 col-md-4">
                                <form th:action="@{/user/purchase}" method="post" th:object="${purchase}">
                                    <input type="hidden" th:field="*{billNo}"/>
                                    <input type="hidden" th:field="*{invoiceNo}"/>
                                    <input type="hidden" th:field="*{airWayBill}"/>
                                    <input type="hidden" th:field="*{noOfCartoon}"/>
                                    <input type="hidden" th:field="*{cartoonDimension}"/>
                                    <input type="hidden" th:field="*{quantity}"/>
                                    <input type="hidden" th:field="*{rate}"/>
                                    <input type="hidden" th:field="*{total}"/>
                                    <input type="hidden" th:field="*{netPayment}"/>
                                    <input type="hidden" th:field="*{due}"/>
                                    <input type="hidden" th:field="*{supplier.id}"/>
                                    <input type="hidden" th:field="*{model.id}"/>

                                    <a th:href="@{/user/purchase}" class="btn btn-warning">Back</a>
                                    <input type="submit" class="btn btn-primary" value="Confirm Purchase"/>

                                </form>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</body>
</html>