<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
    <div th:fragment="parchase">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <p class="col-md-4" for="name">Supplier Name:</p>
                                    <div class="col-md-8">
                                        <select class="form-control" id="itemModels">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                </div>
                                &#160;
                                <div class="form-group">
                                    <p class="col-md-4" for="name">Bill No:</p>
                                    <div class="col-md-8">
                                        <input type="number"
                                               class="form-control" placeholder="0"/>
                                    </div>
                                </div>
                                &#160;
                                <div class="form-group">
                                    <p class="col-md-4" for="name">Invoice No:</p>
                                    <div class="col-md-8">
                                        <input type="number"
                                               class="form-control" placeholder="0"/>
                                    </div>
                                </div>
                                &#160;
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <p class="col-md-4" for="name">Airway Bill Amount:</p>
                                    <div class="col-md-8">
                                        <input type="number"
                                               class="form-control" placeholder="0.00"/>
                                    </div>
                                </div>
                                &#160;
                                <div class="form-group">
                                    <p class="col-md-4" for="name">No of Cartoon:</p>
                                    <div class="col-md-8">
                                        <input type="number"
                                               class="form-control" placeholder="0"/>
                                    </div>
                                </div>
                                &#160;
                                <div class="form-group">
                                    <p class="col-md-4" for="name">Cartoon Dimension:</p>
                                    <div class="col-md-8">
                                        <input type="number"
                                               class="form-control" placeholder="0"/>
                                    </div>
                                </div>
                                &#160;
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</body>
</html>